In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("/Users/ashish_kumar/Downloads/companies_list.csv", header=0)

/var/folders/gm/7b12y5_j7ps7j7w95bjqkhfc0000gn/T/ipykernel_67725/2722677412.py:1: DtypeWarning: Columns (1,2,3,4,5,6,8,9,10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/Users/ashish_kumar/Downloads/companies_list.csv', header=0)

In [5]:
df.head()

,handle,name,domain,website,industry,size,type,founded,city,state,country_code
0,company/sh-consults,SH Consulting,NaN,NaN,business consulting and services,1-10,Self-Employed,NaN,Amsterdam,North Holland,NL
1,company/cactus-&-tropicals-inc.,"Cactus & Tropicals, Inc.",NaN,NaN,NaN,1-10,NaN,NaN,NaN,NaN,NaN
2,company/alex-steel-company,Alex Steel Company,NaN,NaN,wholesale building materials,NaN,NaN,NaN,Vaughan,Ontario,CA
3,company/via-veneto-boutique,Via Veneto Boutique,NaN,NaN,retail,1-10,Privately Held,NaN,NaN,NaN,NaN
4,company/sholom-home-west-inc,SHOLOM HOME WEST INC,NaN,NaN,hospitals and health care,201-500,NaN,NaN,Saint Louis Park,Minnesota,US

In [7]:
df.nunique()

handle          19478833
name            17909201
domain          12880576
website         14364052
industry             492
size                   8
type                  10
founded              808
city              412273
state              41803
country_code         272
dtype: int64

In [ ]:
df